$color-bordo: #4A2B33;
$color-bordo-light: #D27487;


@import "./../node_modules/slick-carousel/slick/slick";
@import "./../node_modules/slick-carousel/slick/slick-theme";

@import "./../node_modules/bootstrap/scss/bootstrap";

$slick-font-path: './../node_modules/slick-carousel/slick/fonts/';
$slick-loader-path: './../node_modules/slick-carousel/slick/';

img {
  max-width: 100%;
}

h2 {
  font-family: 'Azeret Mono', monospace;
  font-size: 17px;
  font-weight: 700;
  line-height: 21.6px;
}

p {
  font-size: 32px;
  line-height: 44.8px;
}

.bg-bordo {
  background-color: $color-bordo;
}

.navbar {
  padding: 0 !important;

  &-collapse {
    justify-content: space-between;
    padding: 22.5px 0;
  }

  &-navbar-expand-lg {
    padding: 0;
  }

  &-nav {
    .nav-link {
      color: $color-bordo-light;
      &:hover {
      opacity: 0.5;
      }
    }
  }
}

.section-1 {
  padding-bottom: 36px;
}

.section-2 {
  padding: 220px 0;
  color: #222222;

  h2 {
    font-size: 17px;
    font-weight: 700;
    line-height: 21.6px;
  }

  p {
    font-family: Inter, sans-serif;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
  }
}

button.btn {
  border: 2px solid #6F6F64;
  background-color: transparent;
  color: #6F6F64;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 17px 0;
  border-radius: 0;
  &.btn-active {
    background: #6F6F64;
    color: #FFF;
  }
}

.section-3 {
  padding: 120px 0;
  background-color: #E9E9E3;
  color: #6F6F64;
  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
  }
  .separator {
    margin-bottom: 74px;
  }
  .menu{
    display: none;
    &.open{
      display: block;
    }
  }
}

.section-4 {
  padding: 120px 0;
  background-color: #AA9E54;
  color: #FFFFFF;
  h2 {
    color: #FFF;
    font-size: 17px;
  }
  p {
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 36.4px;
  }
}

.section-5 {
  padding: 152px 0;
  .col-6 {
    display: flex;
    flex-direction: column;
    .image-2 {
      margin-top: auto;
    }
  }
}

.section-6 {
  padding: 121px 0;
  background-color: #4A2B33;
  h2 {
    color: #D27487;
    font-size: 47px;
    font-weight: 400;
    line-height: 62.5px;
    letter-spacing: 1px;
  }
  p {
    color: #D27487;
    font-size: 18px;
    line-height: 27px;
    padding-top: 19px;
  }
}

.section-7 {
  .footer-container {
    width: 650px;
    font-family: Inter, sans-serif;
    margin: 0 auto;
    white-space: nowrap;
    .footer-link {
      padding: 56px 0 16px 0;
      .custom-link {
        color: #1F1F1F;
        font-size: 15px;
        line-height: 22.4px;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      .custom-link:hover {
        font-weight: bold;
      }
    }
  }
  .footer-text {
    color: #696969;
    font-size: 13px;
    line-height: 19.5px;
    padding-bottom: 39px;
  }
}
